<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE_ANYWHERE_SECTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>anywhereSectionSupport</string>
			<key>label</key>
			<string>ENABLE_SECTION</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_WHEN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>killingApp</string>
			<key>label</key>
			<string>KILLING_APP</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>appSwitcherFeedback</string>
			<key>label</key>
			<string>APP_SWITCHER_IS_USED</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>siriUIFeedback</string>
			<key>label</key>
			<string>CALLING_SIRI</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>takeScreenshot</string>
			<key>label</key>
			<string>TAKING_SCREENSHOT</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>reachability</string>
			<key>label</key>
			<string>BEGIN_OR_END_REACHABILITY</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>textSelection</string>
			<key>label</key>
			<string>USING_TEXT_SELECTION</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>powerDownView</string>
			<key>label</key>
			<string>ENTERING_POWER_DOWN_VIEW</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>respring</string>
			<key>label</key>
			<string>RESPRINING</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>usingKeyboard</string>
			<key>label</key>
			<string>TYPING</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>enterBackground</string>
			<key>label</key>
			<string>ENTERING_HOMESCREEN</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>alertAppear</string>
			<key>label</key>
			<string>ALERT_APPEARS</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>alertDisappear</string>
			<key>label</key>
			<string>ALERT_DISAPPEARS</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_STRENGTH_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_KILLING_STRENGTH</string>
			<key>key</key>
			<string>customStrengthKilling</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SWITCHER_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSwitcher</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SIRI_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSiri</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SCREENSHOT_STRENGTH</string>
			<key>key</key>
			<string>customStrengthScreenshot</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_REACHABILITY_STRENGTH</string>
			<key>key</key>
			<string>customStrengthReachability</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_TEXT_SELECTION_STRENGTH</string>
			<key>key</key>
			<string>customStrengthTextSelection</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_POWER_DOWN_VIEW_STRENGTH</string>
			<key>key</key>
			<string>customStrengthPowerDown</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_RESPRING_STRENGTH</string>
			<key>key</key>
			<string>customStrengthRespring</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_TYPING_STRENGTH</string>
			<key>key</key>
			<string>customStrengthKeyboard</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_ENTERING_HOMESCREEN_STRENGTH</string>
			<key>key</key>
			<string>customStrengthEnterBackground</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_ALERT_APPEARING_STRENGTH</string>
			<key>key</key>
			<string>customStrengthAlertAppear</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_ALERT_DISAPPEARING_STRENGTH</string>
			<key>key</key>
			<string>customStrengthAlertDisappear</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>