<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LIST_OF_ALL_APPS_WHICH_ARE_CURRENTLY_SUPPORTED</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>APOLLO</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>ApolloSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>CALCULATOR</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>CalculatorSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>FACEBOOK</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>FacebookSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>INSTAGRAM</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>InstagramSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>MUSIC</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>MusicSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>PHONE</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>PhoneSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>SAFARI</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>SafariSub</string>
 		</dict>
		<!-- <dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>SILEO</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>SileoSub</string>
 		</dict> -->
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>SPOTIFY</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>SpotifySub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>TIKTOK</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>TikTokSub</string>
 		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>TWITTER</string>
 			<key>detail</key>
 			<string>RSEApplicationsSubPrefsListController</string>
 			<key>RSEApplicationsSub</key>
 			<string>TwitterSub</string>
 		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>