<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE_INSTAGRAM_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>instagramSupport</string>
			<key>label</key>
			<string>INSTAGRAM_SUPPORT</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_WHEN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>ITGlikeButton</string>
			<key>label</key>
			<string>TAPPING_LIKE_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>ITGdoubleTapToLike</string>
			<key>label</key>
			<string>DOUBLE_TAPPING_TO_LIKE</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>ITGcommentButton</string>
			<key>label</key>
			<string>TAPPING_COMMENT_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>ITGsaveButton</string>
			<key>label</key>
			<string>TAPPING_SAVE_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>ITGsendButton</string>
			<key>label</key>
			<string>TAPPING_SEND_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_STRENGTH_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_LIKE_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthITGlikeButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_DOUBLE_TAP_TO_LIKE_STRENGTH</string>
			<key>key</key>
			<string>customStrengthITGdoubleTapToLike</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_COMMENT_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthITGcommentButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SAVE_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthITGsaveButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SEND_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthITGsendButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>