<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE_SILEO_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>sileoSupport</string>
			<key>label</key>
			<string>SILEO_SUPPORT</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_WHEN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SileoSourcesCell</string>
			<key>label</key>
			<string>TAPPING_SOURCE_CELL</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SileoPackageCollectionViewCell</string>
			<key>label</key>
			<string>TAPPING_PACKAGE_CELL</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SileoTableViewCell</string>
			<key>label</key>
			<string>TAPPING_TABLE_VIEW_CELL</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SileoFeaturedBannerView</string>
			<key>label</key>
			<string>TAPPING_FEATURED_BANNER</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SileoConfirmDownloadButton</string>
			<key>label</key>
			<string>TAPPING_DOWNLOAD_CONFIRM_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SileoGetButton</string>
			<key>label</key>
			<string>TAPPING_GET_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_STRENGTH_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SOURCE_CELL_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSileoSourcesCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_PACKAGE_CELL_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSileoPackageCollectionViewCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_TABLE_VIEW_CELL_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSileoTableViewCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_FEATURED_BANNER_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSileoFeaturedBannerView</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_DOWNLOAD_CONFIRM_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSileoConfirmDownloadButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_GET_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSileoGetButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>