<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE_SPOTIFY_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>spotifySupport</string>
			<key>label</key>
			<string>SPOTIFY_SUPPORT</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_WHEN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTplayButton</string>
			<key>label</key>
			<string>RESUMING_OR_PAUSING_SONG</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTplayBarButton</string>
			<key>label</key>
			<string>MINI_PLAYER_RESUMING_OR_PAUSING_SONG</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTpreviousTrackButton</string>
			<key>label</key>
			<string>GOING_TO_PREVIOUS_SONG</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTnextTrackButton</string>
			<key>label</key>
			<string>SKIPPING_SONG</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTrepeatButton</string>
			<key>label</key>
			<string>TAPPING_REPEAT_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTshuffleButton</string>
			<key>label</key>
			<string>TAPPING_SHUFFLE_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTqueueButton</string>
			<key>label</key>
			<string>TAPPING_QUEUE_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTslider</string>
			<key>label</key>
			<string>USING_TIME_SLIDER</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTfreeTierButton</string>
			<key>label</key>
			<string>TAPPING_LIKE_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTavailableDevicesButton</string>
			<key>label</key>
			<string>TAPPING_DEVICES_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTnowPlayingLabel</string>
			<key>label</key>
			<string>TAPPING_SONG_LABEL</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>SPTplaylistButtons</string>
			<key>label</key>
			<string>TAPPING_PLAYLIST_BUTTONS</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_STRENGTH_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_PLAY_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTplayButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_MINI_PLAYER_PLAY_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTplayBarButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_PREVIOUS_TRACK_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTpreviousTrackButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SKIP_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTnextTrackButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_REPEAT_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTrepeatButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_SHUFFLE_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTshuffleButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_QUEUE_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTqueueButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_TIME_SLIDER_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTslider</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_LIKE_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTfreeTierButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_DEVICES_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTavailableDevicesButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_LABEL_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTnowPlayingLabel</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_PLAYLIST_BUTTONS_STRENGTH</string>
			<key>key</key>
			<string>customStrengthSPTplaylistButtons</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>