<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ENABLE_TWITTER_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>twitterSupport</string>
			<key>label</key>
			<string>TWITTER_SUPPORT</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_WHEN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>TWTtabBar</string>
			<key>label</key>
			<string>USING_TABBAR</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>TWTweetTap</string>
			<key>label</key>
			<string>TAPPING_ON_A_TWEET</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>TWTdirectMessagesTap</string>
			<key>label</key>
			<string>TAPPING_A_DM_CHAT</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>TWTactivityTap</string>
			<key>label</key>
			<string>TAPPING_ON_A_NOTIFICATION</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>key</key>
			<string>TWTtweetButton</string>
			<key>label</key>
			<string>USING_THE_FLOATING_TWEET_BUTTON</string>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM_STRENGTH_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_TABBAR_STRENGTH</string>
			<key>key</key>
			<string>customStrengthTWTtabBar</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_TWEET_STRENGTH</string>
			<key>key</key>
			<string>customStrengthTWTtweetView</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_DM_STRENGTH</string>
			<key>key</key>
			<string>customStrengthTWTdirectMessagesTap</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_NOTIFICATION_STRENGTH</string>
			<key>key</key>
			<string>customStrengthTWTactivityTap</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>sh.litten.rosepreferences</string>
			<key>label</key>
			<string>CUSTOM_FLOATING_TWEET_BUTTON_STRENGTH</string>
			<key>key</key>
			<string>customStrengthTWTtweetButton</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>LIGHT_HAPTIC_ENGINE</string>
				<string>MEDIUM_HAPTIC_ENGINE</string>
				<string>HEAVY_HAPTIC_ENGINE</string>
				<string>LIGHT_TAPTIC_ENGINE</string>
				<string>MEDIUM_TAPTIC_ENGINE</string>
				<string>STRONG_TAPTIC_ENGINE</string>
				<string>SOFT_TAPTIC_ENGINE</string>
				<string>RIGID_TAPTIC_ENGINE</string>
			</array>
			<key>PostNotification</key>
			<string>sh.litten.rosepreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Rose</string>
</dict>
</plist>