[submodule "Cr4shed"]
	path = Cr4shed
	url = https://github.com/Muirey03/Cr4shed.git
[submodule "cylinder"]
	path = cylinder
	url = https://github.com/rweichler/cylinder
[submodule "ForwardNotifier"]
	path = ForwardNotifier
	url = https://github.com/Greg0109/ForwardNotifier.git
[submodule "HomePlus"]
	path = HomePlus
	url = https://github.com/KritantaDev/HomePlus.git
[submodule "Iris"]
	path = Iris
	url = https://github.com/jacobcxdev/Iris.git
[submodule "PerfectMusic"]
	path = PerfectMusic
	url = https://github.com/johnzaro/PerfectMusic.git
[submodule "Rose"]
	path = Rose
	url = https://github.com/Litteeen/Rose.git
[submodule "SafariPlus"]
	path = SafariPlus
	url = https://github.com/opa334/SafariPlus.git
[submodule "Xen-HTML"]
	path = Xen-HTML
	url = https://github.com/Matchstic/Xen-HTML.git
